.homePageContent {
  text-align: left;
  font-size: 28px;
}
.content {
  margin: 20px;
}
.container {
  border: 1px solid #000;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.homePageUlList {
  list-style-position: inside;
}
.gallery-homepage {
  display: flex;
  overflow-y: auto;
  height: 250px;
  margin-bottom: 10px;
}
@media screen and (max-width: 992px) {
  .homePageContent {
    font-size: 16px;
  }
}
