.container {
  border: 1px solid #000;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.gallery {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #000;
  padding: 15px;
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.gallery > img {
  max-width: 100%;
  height: auto;
}
.content {
  margin: 20px;
}
.border img {
  border: 1px solid #000;
}
