@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
:root {
  --site-background-color: #fff; /* #303030 */
  --text-color: #000; /* #fff */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
}

a {
  color: rgb(0, 162, 255);
}
a:hover {
  color: rgb(0, 118, 187);
}

body {
  background-color: var(--site-background-color);
  color: var(--text-color);
}
.globalContent {
  min-height: 100vh;
}
.big-text {
  font-size: 62px;
}

.quiz-post-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buttonCheck {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 3px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.buttonCheck:hover {
  background-color: #eef;
}

@media screen and (max-width: 992px) {
  .big-text {
    font-size: 42px;
  }
}
