@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
:root {
  --nav-height: 60px;
  --nav-background: #fff; /* #141414 */
  --nav-text-color: #000; /* #fff */
  --nav-shadow: 0 -1px 5px #000;
  --nav-mobile-shadow: -1px 0px 5px #000;
}
.navbar {
  box-shadow: var(--nav-shadow);
}
.navbarActive {
  box-shadow: var(--nav-mobile-shadow);
}
.navbar,
.navbarActive {
  background-color: var(--nav-background);
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--nav-text-color);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}
.navSpacer {
  height: var(--nav-height);
  width: 100%;
}
.navbar a,
.navbarActive a {
  text-decoration: none;
  color: var(--nav-text-color);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  transition: all 0.15s ease;
}
.navbar a:hover,
.navbarActive a:hover {
  color: #999;
}

.navbarLinks {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
.navbarLinks * {
  margin: 20px;
}
.responsiveButton {
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 999;
}
.responsiveButton button {
  box-shadow: 0px 0px 5px #000;
  width: 60px;
  height: 60px;
  padding: 10px;
  background-color: #fff;
  border-style: none;
  color: #000;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  cursor: pointer;
  display: none;
  transition: transform 0.15s ease;
}
.responsiveButton button:active {
  transform: translateY(3px);
  background-color: #eeef;
}
.navbarLogo {
  font-size: 32px;
  margin: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
@media screen and (max-width: 1235px) {
  .navbarLogo {
    font-size: 18px;
  }
}
@media screen and (max-width: 992px) {
  .navbarLogo {
    display: none;
  }
  .navSpacer {
    width: 0%;
    height: 0px;
  }
  .responsiveButton button {
    display: block;
  }
  .navbarLinks,
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbarLinks * {
    margin: 10px 0;
  }
  .navbarLinks {
    justify-content: center;
  }
  .navbar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    justify-content: center;
    padding: 25px;
  }
  .navbarActive {
    position: fixed;
    top: 0;
    left: 0px;
    width: 250px;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    justify-content: center;
    padding: 25px;
  }
}
